body{
    font-family: Arial;
    background: linear-gradient(135deg,#141e30,#243b55);
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}
.container{
    text-align:center;
    background:#1f2a40;
    padding:40px;
    border-radius:15px;
    box-shadow:0 0 20px rgba(0,0,0,0.5);
}
#display{
    font-size:40px;
    margin:20px 0;
}
button{
    padding:12px 20px;
    margin:5px;
    border:none;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
}
.start{background:green;color:white;}
.pause{background:orange;color:white;}
.reset{background:red;color:white;}
