body{
    background: linear-gradient(135deg,#141e30,#243b55);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    font-family:Arial;
}

.calculator{
    background:#9b9fa7;
    padding:20px;
    border-radius:15px;
    box-shadow:0 0 20px rgba(0,0,0,0.5);
}

#display{
    width:100%;
    height:60px;
    font-size:25px;
    margin-bottom:10px;
    text-align:right;
    padding:10px;
    border:none;
    border-radius:10px;
}

.buttons{
    display:grid;
    grid-template-columns:repeat(4,70px);
    gap:10px;
}

button{
    height:60px;
    font-size:20px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    background:#385996;
    color:white;
}

button:hover{
    background:#d4dff2;
}

.equal{
    background:green;
}

.clear{
    background:rgb(109, 2, 2);
}
